// ------------------------------------------------------------------
//  scss 파일의 여러가지 변수와 함수들을 저장하는 설정 파일입니다.
//  메인 테마를 잡는 공간이라고 생각하시면 됩니다.
// ------------------------------------------------------------------

// ------------------------------------------------------------------
//  조금 더 밝은 색과 어두운 색 버전 쓰는 법.
//  darken( $theme-color1, 20% );
//  lighten( $theme-color1, 20% );
// ------------------------------------------------------------------

// -----------------------------------------------------
//  blue 컬러셋
// -----------------------------------------------------
$blue-theme: #0096ff;
$blue-dark: #06315f;
$blue-light: #ecf7ff;

// -----------------------------------------------------
//  grey 컬러셋
// -----------------------------------------------------
$grey-theme: #e0e0e0;
$grey-border: #d4d8dc;
$grey-background: #f2f4f6;
$grey-blueish: #c8ced3;

// -----------------------------------------------------
//  black 컬러셋
// -----------------------------------------------------
$black-theme: #333;
$black-light: #707070;
