@import "~Style/global";

.a_title_text_wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  .left_wrap {
    .text_wrap {
      display: flex;
      .issue_title_text {
      }
    }
    .sub_text_wrap {
      display: flex;
    }
  }
  .right_wrap {
    .issue_comment_count {
    }
  }
}
